/* GENERAL SETTINGS AND UTILITIS */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-text-color: white;
  --hero-text-color: white;
  --main-text-color: #24282b;
  --header-color: #255ee9;
  --brand-color: #255ee9;
  --footer-bg-color: #23272a;
  --foter-text-color: #8ea1e1;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
strong,
p,
li,
a {
  line-height: 1.5;
  color: var(--main-text-color);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.hero-section h1,
.hero-section h2,
.hero-section h3,
.hero-section strong,
.hero-section p,
.hero-section li,
.hero-section a {
  color: var(--hero-text-color);
}

header h1,
header h2,
header h3,
header strong,
header p,
header li,
header a {
  color: var(--header-text-color);
}

footer p,
footer li,
footer span,
footer strong,
footer svg {
  color: white;
}

.container {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn {
  background-color: white;
  border: none;
  border-radius: 35px;
  color: black;
}

button,
li,
a {
  cursor: pointer;
}

/* HEADER */

.header-container {
  background-color: var(--header-color);
}

.main-header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar {
  gap: 30px;
}

.login-btn {
  padding: 8px 12px;
}

.login-btn a {
  color: black;
}

.logo {
  cursor: pointer;
}

.gap-15 {
  gap: 30px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.bg-lightgray {
  background-color: #f6f6f6;
}

.padding-100 {
  padding: 100px;
}

.border-bottom {
  border-bottom: 1px solid var(--foter-text-color);
}

/* HERO SECTION */

.hero-section {
  background: url("/img/jumbo.png") center no-repeat;
  background-size: cover;
  padding: 90px 60px;
}

.hero-container {
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 30px;
}

.hero-container p {
  max-width: 650px;
}

.hero-container h1 {
  font-size: 55px;
  line-height: 1.2;
  font-weight: 600;
}

.download-btn {
  padding: 13px 25px;
  align-items: center;
  gap: 10px;
}

.download-btn a {
  color: black;
  font-size: 1rem;
}

.browser-btn {
  padding: 13px 25px;
  background-color: #23272a;
}

.browser-btn a {
  font-size: 1rem;
}

/* SECTIONS */

.featured-section {
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 5rem;
}

.featured-section img {
  height: calc(150px + 12vw);
  width: auto;
}

.text-section {
  flex-direction: column;
  min-width: 230px;
  max-width: 300px;
  gap: 20px;
}

.text-section h2 {
  line-height: 1.2;
  font-weight: 800;
  font-size: 35px;
}

.wide-section {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.wide-content img:not(.wide-content .wide-download-btn img) {
  height: calc(350px + 10vw);
  width: auto;
}

.wide-content h2 {
  line-height: 1.2;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 20px;
}

.wide-content strong {
  line-height: 1.2;
  font-weight: 800;
  font-size: 30px;
}

.wide-content strong::before {
  content: "";
  display: table;
  height: 45px;
  width: 100%;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("/img/stars.svg");
}

.wide-download-btn {
  padding: 13px 25px;
  background-color: var(--foter-text-color);
  gap: 10px;
}

.wide-download-btn:hover {
  background-color: var(--brand-color);
  transition: all 250ms;
}

.wide-download-btn a {
  color: white;
  font-size: 1rem;
}
.wide-download-btn svg {
  color: white;
}

/* FOOTER */

footer {
  background-color: var(--footer-bg-color);
  padding: 80px;
  padding-bottom: 70px;
}

.footer-main-section {
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex-direction: column;
  font-size: 16px;
  gap: 8px;
}

.footer-section strong {
  color: var(--foter-text-color);
}

.footer-section ul[class="flex"] {
  flex-direction: column;
  gap: 8px;
  padding-bottom: 35px;
}

.lang-section {
  flex-direction: column;
  gap: 20px;
}

.lang-section strong {
  color: var(--foter-text-color);
  max-width: 250px;
  font-weight: 800;
  font-size: 30px;
}

.lang-picker img {
  width: 25px;
  height: auto;
}

.lang-picker {
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.socials {
  gap: 18px;
}

.socials svg {
  cursor: pointer;
}

.bottom-footer {
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.register-btn {
  padding: 10px 15px;
  background-color: var(--foter-text-color);
}

.register-btn a {
  color: white;
}

.register-btn:hover {
  background-color: var(--brand-color);
  transition: all 250ms;
}
