/* GENERAL SETTINGS AND UTILITIS */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: white;
  --header-color: #255ee9;
  --brand-color: #255ee9;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
strong,
p,
li,
a {
  line-height: 1.5;
  color: var(--main-text-color);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn {
  background-color: white;
  border: none;
  border-radius: 35px;
  color: black;
}

button,
li,
a {
  cursor: pointer;
}

/* HEADER */

.header-container {
  background-color: var(--header-color);
}

.main-header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar {
  gap: 30px;
}

.login-btn {
  padding: 8px 12px;
}

.login-btn a {
  color: black;
}

.logo {
  cursor: pointer;
}

.gap-15 {
  gap: 30px;
}

/* HERO SECTION */

.hero-section {
  background: url("/img/jumbo.png") center no-repeat;
  background-size: cover;
  padding: 90px 60px;
}

.hero-container {
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 30px;
}

.hero-container p {
  max-width: 650px;
}

.hero-container h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 600;
}

.download-btn {
  padding: 13px 25px;
  align-items: center;
  gap: 10px;
}

.download-btn a {
  color: black;
  font-size: 1rem;
}

.browser-btn {
  padding: 13px 25px;
  background-color: #23272a;
}

.browser-btn a {
  font-size: 1rem;
}
